<app-header></app-header>
<br/>
<mat-card>
    <mat-card-content>
        <span >Login</span>
<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Name">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="email">
    </mat-form-field>
   
    <mat-form-field>
      <input matInput placeholder="phone no.">
    </mat-form-field>

    
  </div>
  <br/>
  <button mat-raised-button color="primary">Submit</button>
</mat-card-content>
</mat-card>