<app-header></app-header>
<div >
    <div class="split left">
        <span>"Hari Bol"</span>
    </div>
    <div class="split right">
    </div>
</div>
<!-- <div class="topnav" id="myTopnav">
    <a href="#home" class="active">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
</div> -->

<span class="astro">Our Astrologers</span><br>
<div class="flex-container">
    <div>
<mat-card class="example-card">
    <mat-card-header>
        <img class="image" mat-card-avatar src="https://images.unsplash.com/photo-1554126807-6b10f6f6692a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="https://images.unsplash.com/photo-1499540785729-ac6adfa4efbf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
            <div class="box">
                <div>Name:</div>
                <div>Experience:</div>
                <div>Type:</div>
                <div>Rating</div>
            </div>
        
    </mat-card-header><br>
    <mat-card-content>
        <div class="skills">
        <span style="float: left;">skills:</span>&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="ski" >
            <button mat-stroked-button>Vedic astrology</button>&nbsp;&nbsp;&nbsp;
            <button mat-stroked-button>Tarot card</button>&nbsp;&nbsp;&nbsp;
            <button mat-stroked-button>Nade</button>&nbsp;&nbsp;&nbsp;
            <button mat-stroked-button>Vedic astrology</button>&nbsp;&nbsp;&nbsp;
            <button mat-stroked-button>Vedic astrology</button>&nbsp;&nbsp;&nbsp;
            <button mat-stroked-button>Vedic astrology</button>&nbsp;&nbsp;&nbsp;
        </span>
    </div>
    <div class="achieve">
        <span>Achievements:</span>
    </div>
    </mat-card-content>
    <mat-card-actions>
     <button mat-raised-button color="primary">Call</button>
    </mat-card-actions>
</mat-card>
</div>
<div>
<mat-card class="example-card">
    <mat-card-header>
        <img class="image" mat-card-avatar src="https://images.unsplash.com/photo-1554126807-6b10f6f6692a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="https://images.unsplash.com/photo-1499540785729-ac6adfa4efbf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
            <div class="box">
                <div>Name:</div>
                <div>Experience:</div>
                <div>Type:</div>
                <div>Rating</div>
            </div>
        
    </mat-card-header><br>
    <mat-card-content>
        <div class="skills">
        <span style="float: left;">skills:</span>&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="ski" >
            <button mat-stroked-button>Vedic astrology</button>&nbsp;&nbsp;&nbsp;
            <button mat-stroked-button>Tarot card</button>&nbsp;&nbsp;&nbsp;
            <button mat-stroked-button>Nade</button>&nbsp;&nbsp;&nbsp;
            <button mat-stroked-button>Vedic astrology</button>&nbsp;&nbsp;&nbsp;
            <button mat-stroked-button>Vedic astrology</button>&nbsp;&nbsp;&nbsp;
            <button mat-stroked-button>Vedic astrology</button>&nbsp;&nbsp;&nbsp;
        </span>
    </div>
    <div class="achieve">
        <span>Achievements:</span>
    </div>
    </mat-card-content>
    <mat-card-actions>
     <button mat-raised-button color="primary">Call</button>
    </mat-card-actions>
</mat-card>
</div>
</div>
<span class="astro">Some reviews about astrology</span><br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <mat-card class="pinky">
                <mat-card-title>Horoscopes 2020</mat-card-title>
                <img mat-card-img src="" alt="">
                <mat-card-content >
                    <span class="horo">Aries Horoscope 2020</span><hr>
                    <span class="horo">Taurus Horoscope 2020</span><hr>
                    <span class="horo">Gemini Horoscope 2020</span><hr>
                    <span class="horo">Cancer Horoscope 2020</span><hr>
                    <span class="horo">Leo Horoscope 2020</span><hr>
                    <span class="horo">Virgo Horoscope 2020</span><hr>
                    <span class="horo">Libra Horoscope 2020</span><hr>
                    <span class="horo">Scorpio Horoscope 2020</span><hr>
                    <span class="horo">Sagittarius Horoscope 2020</span><hr>
                    <span class="horo">Capricorn Horoscope 2020</span><hr>
                    <span class="horo">Aquarius Horoscope 2020</span><hr>
                    <span class="horo">Pisces Horoscope 2020</span><hr>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="pinky">
                <mat-card-title>HoroScopes</mat-card-title>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="pinky">
                <mat-card-title>Planetary Transit
                </mat-card-title>
                <mat-card-content>
                    <div class="planets">Mercury</div><hr>
                    <div class="planets">Saturn</div><hr>
                    <div class="planets">Venus</div><hr>
                    <div class="planets">Rahu</div><hr>
                    <div class="planets">Jupiter</div><hr>
                    <div class="planets">Ketu</div><hr>
                    <div class="planets">Mars</div><hr>
                    <div class="planets">Sun</div><hr>
                    <div class="planets">Moon</div><hr>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
