<div class="toptext"><h3>Talk To India's Best Astrologer</h3></div><br>
<div class="container-full">
    <div class="row">
        <div class="col-md-2 leftbox">
            <button mat-raised-button>Talk To Astrologer</button><hr>
            <button mat-raised-button>Get Detailed Report</button><hr>
            <button mat-raised-button>Chat with Astrologer</button><hr>
            <button mat-raised-button>Video Call with Astrologer</button><hr>
            <button mat-raised-button>Online Pooja</button><hr>
            <button mat-raised-button>Free Kundali</button><hr>
            <button mat-raised-button>Gem Stone Details</button><hr>
            <button mat-raised-button>Contact US</button><hr>
        </div>
        <div class="col-md-10 rightbox">
           <div class="container-full">
            <div class="row">
                <div class="col-md-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Krishna Avatar Das</mat-card-title>
                          <mat-card-subtitle><div class="ro"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star">&nbsp;&nbsp;<span>4.3&nbsp;&nbsp;(4327)</span></span><div>25Rs/min</div>30Rs/min(Video-Call)</div></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                        <div>Vedic Astrology,Vastu</div><hr>
                        <div>Hindi,English</div><hr>
                        <div>Projeny Astrology,Nakshatras</div>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-raised-button color="primary">Call</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
                <div class="col-md-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Krishna Avatar Das</mat-card-title>
                          <mat-card-subtitle><div class="ro"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star">&nbsp;&nbsp;<span>4.3&nbsp;&nbsp;(4327)</span></span><div>25Rs/min</div>30Rs/min(Video-Call)</div></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                        <div>Vedic Astrology,Vastu</div><hr>
                        <div>Hindi,English</div><hr>
                        <div>Projeny Astrology,Nakshatras</div>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-raised-button color="primary">Call</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
                <div class="col-md-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Krishna Avatar Das</mat-card-title>
                          <mat-card-subtitle><div class="ro"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star">&nbsp;&nbsp;<span>4.3&nbsp;&nbsp;(4327)</span></span><div>25Rs/min</div>30Rs/min(Video-Call)</div></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                        <div>Vedic Astrology,Vastu</div><hr>
                        <div>Hindi,English</div><hr>
                        <div>Projeny Astrology,Nakshatras</div>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-raised-button color="primary">Call</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Krishna Avatar Das</mat-card-title>
                          <mat-card-subtitle><div class="ro"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star">&nbsp;&nbsp;<span>4.3&nbsp;&nbsp;(4327)</span></span><div>25Rs/min</div>30Rs/min(Video-Call)</div></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                        <div>Vedic Astrology,Vastu</div><hr>
                        <div>Hindi,English</div><hr>
                        <div>Projeny Astrology,Nakshatras</div>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-raised-button color="primary">Call</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
                <div class="col-md-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Krishna Avatar Das</mat-card-title>
                          <mat-card-subtitle><div class="ro"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star">&nbsp;&nbsp;<span>4.3&nbsp;&nbsp;(4327)</span></span><div>25Rs/min</div>30Rs/min(Video-Call)</div></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                        <div>Vedic Astrology,Vastu</div><hr>
                        <div>Hindi,English</div><hr>
                        <div>Projeny Astrology,Nakshatras</div>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-raised-button color="primary">Call</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
                <div class="col-md-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Krishna Avatar Das</mat-card-title>
                          <mat-card-subtitle><div class="ro"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star">&nbsp;&nbsp;<span>4.3&nbsp;&nbsp;(4327)</span></span><div>25Rs/min</div>30Rs/min(Video-Call)</div></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                        <div>Vedic Astrology,Vastu</div><hr>
                        <div>Hindi,English</div><hr>
                        <div>Projeny Astrology,Nakshatras</div>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-raised-button color="primary">Call</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
            </div>
           </div>
        </div>
    </div>
</div><br>
<div class="toptext"><h3>Talk To India's Best Astrologer</h3></div><br>

