<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#3B4BAA">
    <a class="navbar-brand rue" routerLink = '' href="#">HariSukha</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link rue" href="#">Home </a>
        </li>
        <li class="nav-item">
            <button mat-stroked-button color="warn">Talk to Astrologer</button>
        </li>
       
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class=" my-1 my-sm-0" mat-flat-button color="warn" routerLink='/login'type="submit">Login</button>&nbsp;&nbsp;
        <button class=" my-2 my-sm-0" mat-flat-button color="warn" type="submit" routerLink= "/register">SignUp</button>
      </form>
    </div>
  </nav>